<table class="table table-hover" style="font-size: 15px;text-align: left;">
    <h1 style="padding-top: 10px;padding-bottom: 10px">{{session["path"]}}</h1>
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="3">File Name</th>
                        <th>File Size</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in myfiles %}
                    <tr>
                        {% if file.isFolder %}
                            <td>
                                <a style="color: #000"><i class="fa fa-folder"></i></a>
                            </td>
                            <td colspan="3"><a data-path="{{file.parent}}" href="#" onclick="openFolder('{{file.name}}',event)">{{file.name}}</a></td>
                        {% else %}
                            <td>
                                <a style="color: #000"><i class="fa fa-file"></i></a>
                            </td>
                            <td colspan="3"><a href="#">{{file.name}}</a></td>
                        {% endif %}
                        <td>{{file.size}}</td>
                        <td>
                            {% if file.isPublic %}
                                <a style="color: green"><i class="fa fa-user"></i></a>
                            {% else %}
                                <a style="color: green"><i class="fa fa-user"></i></a>
                            {% endif %}
                            <!-- <a class="teal-text"><i class="fa fa-pencil"></i></a> -->
                            <a style="color: red;margin-left: 10px"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>