<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> <!-- Resource style -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/upload.css')}}"> <!-- Resource style -->
    <script src="{{url_for('static',filename='js/modernizr.js')}}"></script> <!-- Modernizr -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <title>Welcome to Dropbox</title>
    <style type="text/css">
        td{
            max-width: 100px;
            word-break: break-all;
        }
    </style>
</head>
<body>
    <header class="cd-main-header" style="z-index: 1000">
        <a href="{{url_for("home")}}" class="cd-logo" style="margin-top: 1%;font-weight: 500;font-size: 30px;text-decoration: none; color: white">DropBox</a>
        
        <div class="cd-search is-hidden">
            <!-- <form action="{{url_for('search')}}"> -->
                <input id="search" type="search" placeholder="Search..." onsearch="search()">
            <!-- </form> -->
        </div> <!-- cd-search -->

        <a href="#" class="cd-nav-trigger">Menu<span></span></a>

        <nav class="cd-nav">
            <ul class="cd-top-nav">
                <!-- <li><a href="#">Tour</a></li> -->
                <li id="back" style="display: none"><a href="javascript:void(0)" onclick="goBack()"><i class="fa fa-arrow-left"></i> Back</a></li>
                <li class="has-children account">
                    <a href="#">
                        {{session["username"].upper()}}
                    </a>

                    <ul>

                        <!-- <li><a href="#">My Account</a></li> -->
                        <!-- <li><a href="#">Edit Account</a></li> -->
                        <li><a href="{{url_for('logout')}}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header> <!-- .cd-main-header -->

    <main class="cd-main-content">
        <nav class="cd-side-nav" style="z-index: 10">
            <ul>
                <li class="cd-label">Main</li>
                <li class="has-children overview">
                    <a href="javascript:void(0)" id="zdrop"><i style="font-size: 15px" class="fa fa-file "></i> &nbsp;Upload Files</a>
                    
                    <!-- <ul>
                        <li><a href="#">All Data</a></li>
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                    </ul> -->
                </li>
                <!-- <li class="has-children notifications active">
                    <a href="#">Notifications<span class="count">3</span></a>
                    
                    <ul>
                        <li><a href="#">All Notifications</a></li>
                        <li><a href="#">Friends</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </li> -->

                <li class="has-children comments">
                    <a href="#"><i style="font-size: 15px" class="fa fa-folder"></i> &nbsp;Create Folder</a>
                    <ul>
                            <li style="padding: 15px;text-align: center;">Enter folder name
                                <input id="folderName" style="width: 100%;margin-top: 10px;margin-left: 0px;display: block;" type="text" >
                            </li>
                            <li style="padding-top: 0px;padding-bottom : 15px;padding-right: 15px;padding-left: 15px" 
                            class="action-btn"><a href="javascript:void(0)" id="createF" style="background: #73cdf4;margin:0px">+ Create</a></li>
                        <!-- <li><a href="#">Edit Comment</a></li> -->
                        <!-- <li><a href="#">Delete Comment</a></li> -->
                    </ul>
                </li>
            </ul>

            <ul>
                <li class="cd-label">MY DRIVE</li>
                <li class="has-children bookmarks">
                    <a href="{{url_for("home")}}">My Files</a>
                    
                    <!-- <ul>
                        <li><a href="#">All Bookmarks</a></li>
                        <li><a href="#">Edit Bookmark</a></li>
                        <li><a href="#">Import Bookmark</a></li>
                    </ul> -->
                </li>
                <!-- <li class="has-children images">
                    <a href="#">Images</a>
                </li> -->

                <!-- <li class="has-children users">
                    <a href="#">Users</a>
                </li> -->
            </ul>

            <!-- <ul>
                <li class="cd-label">Action</li>
                <li class="action-btn"><a href="#">{{session["totalSize"]}}</a></li>
            </ul> -->
        </nav>

        <div class="content-wrapper" style="padding-left: 10px;padding-right: 10px">
            <h2 style="text-align: right;padding: 5px;font-weight: 1000">Drive Usage:  {{session["totalSize"]}}</h2>
            <h1 style="padding-top: 10px;padding-bottom: 10px;font-weight: 500">
            {{session["path"]}}</h1>
            <table class="table table-hover table-bordered" style="font-size: 15px;text-align: center;">
                <thead>
                    <tr style="font-weight: 800">
                        <th></th>
                        <th >Name</th>
                        <th >Owner</th>
                        <th>File Size</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in myfiles %}
                    <tr>
                        {% if file.isFolder %}
                            <td>
                                <a style="color: #000;"><i class="fa fa-folder"></i></a>
                            </td>
                            <td ><a data-path="{{file.parent}}" href="javascript:void(0)" onclick="openFolder('{{file.name}}',event)">{{file.name}}</a></td>
                        {% else %}
                            <td>
                                <a style="color: #000"><i class="fa fa-file"></i></a>
                            </td>
                            <td ><a href="#">{{file.name}}</a></td>
                        {% endif %}
                        <td>{{file.username}}</td>
                        <td>{{file.humanReadableSize}}</td>
                        <td>
                          {% if session["username"]==file.username %}
                           <a title = "Delete" href="javascript:void(0)" onclick = "del_data('{{file.name}}','{{file.parent}}')" data-dz-remove class="btn-floating ph red white-text waves-effect waves-light"><i class="fa fa-times white-text"></i></i></a>
                          {% endif %}

                            {% if not file.isFolder %}
                             {% if session["username"]==file.username %}
                                {% if file.isPublic %}
                                <a onclick="changeMe('{{file.name}}',event)" style="background-color: green" href="javascript:void(0)" data-dz-remove class="btn-floating ph  white-text waves-effect waves-light"><i data-path="{{file.parent}}" class="fa fa-user white-text"></i></i></a>
                                    <!-- <a href="#" style="color: green;margin-left: 10px;"><i class="fa fa-user"></i></a> -->
                                {% else %}
                                <a onclick="changeMe('{{file.name}}',event)" style="background-color: orange" href="javascript:void(0)" data-dz-remove class="btn-floating ph  white-text waves-effect waves-light"><i data-path="{{file.parent}}" class="fa fa-lock white-text"></i></i></a>
                                    <!-- <a href="#" style="color: orange;margin-left: 10px;"><i class="fa fa-user"></i></a> -->
                                {% endif %}
                            <a  title="Move" onclick="moveFile('{{file.name}}',event)" style="background-color: blue" href="javascript:void(0)" data-dz-remove class="btn-floating ph  white-text waves-effect waves-light"><i data-path="{{file.parent}}" class="fa fa-send white-text"></i></i></a>    
                            {% endif %}
                                <a title = "Download" style="background-color: green" href="{{url_for('download',fname=file.name,parentPath=file.parent,owner=file.username)}}" class="btn-floating ph  white-text waves-effect waves-light"><i class="fa fa-cloud-download white-text" ></i></i></a>
                                <!-- <a href="#" style="color: black;margin-left: 10px;"><i class="fa fa-cloud-download"></i></a> -->
                                <!-- <a href="#" style="color: black;"><i class="fa fa-file-text"></i></a> -->
                            {% endif %}
                            <!-- <a class="teal-text"><i class="fa fa-pencil"></i></a> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="row">
        <div class="col s12">
            <!-- Uploader Dropzone -->
            <!-- <div id="zdrop" class="fileuploader ">
                <div id="upload-label" style="width: 200px;">
                    <i class="material-icons">cloud_upload</i>
                    <span class="title">Drag your Files here</span>
                    <span>Some description here <span/>
                </div>
            </div> -->
            <!-- Preview collection of uploaded documents -->
            <div class="preview-container" style="z-index: 1000">
                <div class="header">
                    <span>Uploaded Files</span> 
                    <i id="controller" class="material-icons">keyboard_arrow_down</i>
                </div>
                <div class="collection card" id="previews">
                    <div class="collection-item clearhack valign-wrapper item-template" id="zdrop-template">
                        <div class="left pv zdrop-info" data-dz-thumbnail>
                            <div>
                                <span data-dz-name></span> <span data-dz-size></span>
                            </div>
                            <div class="progress">
                                <div class="determinate" style="width:0" data-dz-uploadprogress></div>
                            </div>
                            <div class="dz-error-message"><span data-dz-errormessage></span></div>
                        </div>

                        <div class="secondary-content actions">
                            <a href="#!" data-dz-remove class="btn-floating ph red white-text waves-effect waves-light"><i class="material-icons white-text">clear</i></i></a>
                        </div>

                    </div>
                    <button id="up" style="float: right;padding: 5px;color: #ffffff;background-color: #2196F3;border-radius: 4px;width: 100%" class="waves-effect waves-light" >Upload</button>
                </div>
            </div>

        </div>
</main> <!-- .cd-main-content -->
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery-2.1.4.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.menu-aim.js')}}"></script>
<script src="{{url_for('static',filename='js/main1.js')}}"></script> <!-- Resource jQuery -->
<script src="{{url_for('static',filename='js/dropzone.js')}}"></script>
<script>
    $(document).ready(function(){

                initFileUploader("#zdrop");
                function initFileUploader(target) {
                    var previewNode = document.querySelector("#zdrop-template");
                    previewNode.id = "";
                    var previewTemplate = previewNode.parentNode.innerHTML;
                    previewNode.parentNode.removeChild(previewNode);
                    var zdrop = new Dropzone(target, {
                        url: '/upload',
                        maxFilesize:500000,
                        previewTemplate: previewTemplate,
                        autoQueue: true,
                        previewsContainer: "#previews",
                        parallelUploads:10,
                        uploadMultiple:true,
                        autoProcessQueue: false,
                        clickable: "#zdrop"
                    });

                    $("#up").on("click",function(){
                        // alert(zdrop)
                        zdrop.processQueue();
                    });

                    zdrop.on("addedfile", function(file) { 
                        $('.preview-container').css('visibility', 'visible');
                        $("#up").css("display","block");//added
                    });

                    zdrop.on("totaluploadprogress", function (progress) {
                        var progr = document.querySelector(".progress .determinate");
                        if (progr === undefined || progr === null){
                            $("#up").css("display","none");//added
                            return;}
                        else
                            $("#up").css("display","block");//added

                        progr.style.width = progress + "%";
                    });

                    zdrop.on('dragenter', function () {
                        $('.fileuploader').addClass("active");
                    });

                    zdrop.on('success', function (file,result) {
                        if (result.error){
                            alert(result.data);
                        }
                        else{
                            // if(result.path=="/")
                                // $("#back").css("display","none");
                            $('.content-wrapper').html(result.data);
                        }
                        // $(".dz-error-message").text(response.data)
                    });

                    zdrop.on('dragleave', function () {
                        $('.fileuploader').removeClass("active");           
                    });

                    zdrop.on('drop', function () {
                        $('.fileuploader').removeClass("active");   
                    });
                    
                    var toggle = true;
                    /* Preview controller of hide / show */
                    $('#controller').click(function() {
                        if(toggle){
                            $('#previews').css('visibility', 'hidden');
                            $('#controller').html("keyboard_arrow_up");
                            $('#previews').css('height', '0px');
                            toggle = false;
                        }else{
                            $('#previews').css('visibility', 'visible');
                            $('#controller').html("keyboard_arrow_down");
                            $('#previews').css('height', 'initial');
                            toggle = true;
                        }
                    });
                }

            });
</script>
</body>
</html>
