<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> <!-- Resource style -->
    <script src="{{url_for('static',filename='js/modernizr.js')}}"></script> <!-- Modernizr -->
    <title>Welcome to Dropbox</title>
</head>
<body>
    <header class="cd-main-header">
        <a href="#" class="cd-logo" style="margin-top: 1%;font-weight: 500;font-size: 30px;text-decoration: none; color: white">DropBox</a>
        
        <div class="cd-search is-hidden">
            <!-- <form action="{{url_for('search')}}"> -->
                <input id="search" type="search" placeholder="Search..." onsearch="search()">
            <!-- </form> -->
        </div> <!-- cd-search -->

        <a href="#" class="cd-nav-trigger">Menu<span></span></a>

        <nav class="cd-nav">
            <ul class="cd-top-nav">
                <!-- <li><a href="#">Tour</a></li> -->
                <li id="back" style="display: none"><a href="#" onclick="goBack()"><i class="fa fa-arrow-left"></i> Back</a></li>
                <li class="has-children account">
                    <a href="#">
                        {{session["username"].upper()}}
                    </a>

                    <ul>

                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Edit Account</a></li>
                        <li><a href="{{url_for('logout')}}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header> <!-- .cd-main-header -->

    <main class="cd-main-content">
        <nav class="cd-side-nav">
            <ul>
                <li class="cd-label">Main</li>
                <li class="has-children overview">
                    <a href="#"><i style="font-size: 15px" class="fa fa-file"></i> &nbsp;Upload Files</a>
                    
                    <!-- <ul>
                        <li><a href="#">All Data</a></li>
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                    </ul> -->
                </li>
                <!-- <li class="has-children notifications active">
                    <a href="#">Notifications<span class="count">3</span></a>
                    
                    <ul>
                        <li><a href="#">All Notifications</a></li>
                        <li><a href="#">Friends</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </li> -->

                <li class="has-children comments">
                    <a href="#"><i style="font-size: 15px" class="fa fa-folder"></i> &nbsp;Create Folder</a>
                    <ul>
                            <li style="padding: 15px;text-align: center;">Enter folder name
                                <input id="folderName" style="width: 100%;margin-top: 10px;margin-left: 0px;display: block;" type="text" >
                            </li>
                            <li style="padding-top: 0px;padding-bottom : 15px;padding-right: 15px;padding-left: 15px" 
                            class="action-btn"><a id="createF" style="background: #73cdf4;margin:0px">+ Create</a></li>
                        <!-- <li><a href="#">Edit Comment</a></li> -->
                        <!-- <li><a href="#">Delete Comment</a></li> -->
                    </ul>
                </li>
            </ul>

            <ul>
                <li class="cd-label">Secondary</li>
                <li class="has-children bookmarks">
                    <a href="#">Bookmarks</a>
                    
                    <!-- <ul>
                        <li><a href="#">All Bookmarks</a></li>
                        <li><a href="#">Edit Bookmark</a></li>
                        <li><a href="#">Import Bookmark</a></li>
                    </ul> -->
                </li>
                <li class="has-children images">
                    <a href="#">Images</a>
                    
                    <!-- <ul>
                        <li><a href="#">All Images</a></li>
                        <li><a href="#">Edit Image</a></li>
                    </ul> -->
                </li>

                <li class="has-children users">
                    <a href="#">Users</a>
                    
                    <!-- <ul>
                        <li><a href="#">All Users</a></li>
                        <li><a href="#">Edit User</a></li>
                        <li><a href="#">Add User</a></li>
                    </ul> -->
                </li>
            </ul>

            <ul>
                <li class="cd-label">Action</li>
                <li class="action-btn"><a href="#">+ Button</a></li>
            </ul>
        </nav>

        <div class="content-wrapper" style="padding-left: 10px">
            <h1 style="padding-top: 10px;padding-bottom: 10px">{{session["path"]}}</h1>
            <table class="table table-hover" style="font-size: 15px;text-align: left;">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="3">Name</th>
                        <th>File Size</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in myfiles %}
                    <tr>
                        {% if file.isFolder %}
                            <td>
                                <a style="color: #000"><i class="fa fa-folder"></i></a>
                            </td>
                            <td colspan="3"><a data-path="{{file.parent}}" href="#" onclick="openFolder('{{file.name}}',event)">{{file.name}}</a></td>
                        {% else %}
                            <td>
                                <a style="color: #000"><i class="fa fa-file"></i></a>
                            </td>
                            <td colspan="3"><a href="#">{{file.name}}</a></td>
                        {% endif %}
                        <td>{{file.size}}</td>
                        <td>
                            {% if file.isPublic %}
                                <a style="color: green"><i class="fa fa-user"></i></a>
                            {% else %}
                                <a style="color: green"><i class="fa fa-user"></i></a>
                            {% endif %}
                            <!-- <a class="teal-text"><i class="fa fa-pencil"></i></a> -->
                            <a style="color: red;margin-left: 10px"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
<!--                     <tr>
                        <td>
                            <fieldset class="form-group">
                                <input type="checkbox" id="checkbox2">
                                <label for="checkbox2"></label>
                            </fieldset>
                        </td>
                        <td>Billy</td>
                        <td>Cullen</td>
                        <td>@cullby</td>
                        <td>
                            <a class="blue-text"><i class="fa fa-user"></i></a>
                            <a class="teal-text"><i class="fa fa-pencil"></i></a>
                            <a class="red-text"><i class="fa fa-times"></i></a>
                        </td>
                    </tr> -->

                </tbody>
            </table>
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
</body>
</html>
            
        </div> <!-- .content-wrapper -->
    </main> <!-- .cd-main-content -->
<script src="{{url_for('static',filename='js/jquery-2.1.4.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.menu-aim.js')}}"></script>
<script src="{{url_for('static',filename='js/main1.js')}}"></script> <!-- Resource jQuery -->
<script>
    
</script>
</body>
</html>